.stanza p {
    margin-top: 0;
    margin-bottom: 0.01em; /* tight lines inside stanza */
}

.stanza + .stanza {
    margin-top: 1em; /* space between stanzas */
}

body {
    font-family: "Noto Sans", "Arial", sans-serif;
}