$padding-16: 1rem;
$body-min-width: 20rem;

.book-columns {
    gap: $padding-16;

    >div {
      margin: $padding-16 0;
      min-width: $body-min-width * 0.66;
    }

    >ul {
      list-style: none;
      display: flex;
      padding: 0;
      flex-wrap: wrap;
      gap: $padding-16;

      >li {
        flex: 1 1;
        min-width: $body-min-width * 0.66;
      }
    }
  }